<div class="user-details">
    <ng-container *ngIf="user != undefined">
        <mat-list>
            <mat-list-item class="text-align-center"><span class="custom-h2">User Details</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span class="custom-h2">Name: </span><span class="custom-h3">{{ user.name | dashIfEmpty }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span class="custom-h2">Email: </span><span class="custom-h3">{{ user.email | dashIfEmpty }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span class="custom-h2">Phone: </span><span class="custom-h3">{{ user.phone | phone | dashIfEmpty }}</span> 
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span class="custom-h2">Address: </span><span class="custom-h3">{{ user.address | address | dashIfEmpty }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span class="custom-h2">Status: </span><span class="custom-h3">{{ user.active | status | dashIfEmpty }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span class="custom-h2">Function: </span><span class="custom-h3">{{ user.function | dashIfEmpty }}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span class="custom-h2">Registration Date: </span><span class="custom-h3">{{ user.registrationDate | date:'mm/dd/yyyy' }}</span>
            </mat-list-item>
        </mat-list>
    </ng-container>
</div>